<%- content_for(:title, 'Dashboard') %>
<%= render "header" %>

<div class="main-content-area">
  <div class="main-content-container">
    <div class="main-content">
      <h3>Dashboard</h3>
      <p>The admin panel now scopes by group. Show data and episode data have moved into Fansub and Release tables - these are now per-group.</p>
      <p>For help or assistance, ping Desch#3091 or join the #deschtimes channel in the Good Job! Media discord server.</p>
    </div>
  </div>
</div>
