<%- content_for(:title, 'Dashboard') %>
<%= render "header" %>

<div class="main-content-area">
  <div class="main-content-container">
    <div class="main-content">
      <h3>Dashboard</h3>
      <ul>
        <li>TODO: Add Show Creator</li>
        <li>TODO: Add Fansub Creator</li>
        <li>TODO: Add Show Extender</li>
        <li>TODO: Add Admin Panel Restrictions</li>
      </ul>
    </div>
  </div>
</div>
