<h1><%= @group.name %></h1>
<ul>
  <%- @group.fansubs.each do |fansub| %>
    <li><%= link_to fansub.show.name, fansub_path(fansub) %> - <%= fansub.current_release.source.number %></li>
  <%- end %>
</ul>
